# WebView2 User Data Cache & Process Lock files (Prevents permission denied git errors)
*.WebView2/
EBWebView/

# Node dependencies
node_modules/

# Build & Compiler Artifacts
desktop_app/bin/
desktop_app/obj/
*.pdb
*.suo
*.user

# Logs & Temporary Files
*.log
*.tmp

# Visual Studio / IDE cache
.vs/
.vscode/
